* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #3cc4b7;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #fff;
}

.container {
    max-width: 80%;
    margin: auto;
}

.container-50 {
    max-width: 60%;
    margin: auto;
}

.nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 61px 0 20px;
}

.nav__logo a {
    /* Style for "Aditii" */
    color: #3cc3b5;
    font-family: 'Lobster', cursive;
    font-size: 3.5em;
    font-weight: 400;
    line-height: 19px;
    text-decoration: none;
}

.nav__search {
    width: 40%;
    height: 31px;
    border: 1px solid #e1e1e1;
    background: url(../Aditii/img/nav_search_img.png) no-repeat center right 8px;
}

.nav__cart a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

.nav__cart__img {
    background: url(../Aditii/img/Shape_2.png) no-repeat;
    background-color: #fff;
    width: 41px;
    height: 37px;
}

.nav__cart__text {
    font-size: 2.3em;
    font-weight: 400;
    color: #a1a1a1;
}

.top-menu {
    background-color: #4ccfc1;
}

.nav__top-menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 9px 0;
    color: #fff;
}

.nav__top-menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
}

.nav__top-menu a:hover {
    color: orange;
    transition: .5s linear;
}

.banner {
    color: #fff;
}

.banner-dots {
    text-align: center;
    margin-bottom: 34px;
}

.banner-dots_item {
    cursor: pointer;
    height: 9px;
    width: 9px;
    margin: 0 2px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.banner-dots_item:hover {
    background-color: #aaa;
}

.banner__card__photo {
    flex-basis: 35%;
    height: 325px;
    background: url(../Aditii/img/banner_card_photo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.banner__card {
    display: flex;
    justify-content: space-between;
    padding-top: 67px;
}

.banner_card_photo_info {
    flex-basis: 55%;
}

.banner_card_photo_info h1 {
    text-transform: uppercase;
    margin-bottom: 26px;
}

.banner_card_photo_info p {
    font-family: "Open Sans";
    font-size: 17px;
    margin-bottom: 32px;
    line-height: 28px;
}

.banner_card_photo_info button {
    font-family: "Open Sans";
    text-transform: uppercase;
    color: #ffffff;
    width: 133px;
    height: 40px;
    border: 3px solid #ffffff;
    font-weight: bold;
    font-size: 20px;
    background-color: #3cc3b3;
    border-radius: 5px;
}

.banner_card_photo_info button:hover {
    color: #3bc5b5;
    background-color: #fff;
    border-color: #3bc5b5;
    transition: all .5s linear;
    cursor: pointer;
}

.categories {
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 33px;
}

.categories_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.categories_card_item {
    display: flex;
    align-items: center;
    width: 25%;
    /* border: 1px solid green; */
}

.photo_1,
.photo_2,
.photo_3 {
    background: url(../Aditii/img/categories_card_photo_1.png) no-repeat center center;
    flex-grow: 2;
    height: 136px;
    background-size: contain;
}

.photo_2 {
    background: url(../Aditii/img/categories_card_photo_2.png) no-repeat center center;
}

.photo_3 {
    background: url(../Aditii/img/categories_card_photo.png) no-repeat center center;
}

.categories_card_photo {
    display: flex;
}

.categories_card_item_info {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-transform: uppercase;
    font-weight: 700;
}

.categories_card_text {
    color: #afafaf;
    margin-bottom: 20px;
}

.shop_small,
.product_button {
    width: 59px;
    height: 32px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background-color: #3cc395;
    border-radius: 5px;
    border: 3px solid #fff;
}

.shop_small:hover,
.product_button:hover {
    color: #3cc395;
    background-color: #fff;
    border-color: #3cc395;
    transition: all .3s linear;
    border: 3px solid #3cc395;
    cursor: pointer;
}

.signature {
    color: #fff;
    font-size: 21px;
    text-transform: uppercase;
    padding-top: 24px;
    padding-bottom: 21px;
}

.products {
    background-color: #fff;
}

.product_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 48px 0 73px;
}

.product_card_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
    width: 27%;
    height: 260px;
    border-bottom: 6px solid #3cc395;
    text-transform: uppercase;
    color: #afafaf;
    padding-top: 24px;
    padding-bottom: 35px;
    font-weight: 700;
}

.product_card_item:not(:nth-child(n+4)) {
    margin-bottom: 47px;
}

.photo_shoes,
.photo_tShirts,
.photo_TShirtsWhite,
.photo_wallet,
.photo_bag,
.photo_shorts {
    background: url(../Aditii/img/product_shoes.png) no-repeat center center;
    width: 130px;
    flex-grow: 2;
    background-size: contain;
    margin-bottom: 5px;
}

.photo_tShirts {
    background: url(../Aditii/img/product_tShots.png) no-repeat center center;
    background-size: contain;
}

.photo_TShirtsWhite {
    background: url(../Aditii/img/product_TShotsWhite.png) no-repeat center center;
    background-size: contain;
}

.photo_wallet {
    background: url(../Aditii/img/product_wallet.png) no-repeat center center;
    background-size: contain;
}

.photo_bag {
    background: url(../Aditii/img/product_bag.png) no-repeat center center;
    background-size: contain;
}

.photo_shorts {
    background: url(../Aditii/img/product_shorts.png) no-repeat center center;
    background-size: contain;
}

.product_text {
    text-align: center;
    width: 80%;
    font-size: 1em;
}

.product_price {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product_button {
    width: 74px;
    height: 34px;
    font-size: 0.7em;
    margin-left: 10px;
}

.footer_cards {
    display: flex;
    justify-content: space-between;
}

.footer_card_item {
    text-transform: uppercase;
    margin: 42px 0;
    width: 180px;
}

.footer_card_item h3 {
    font-weight: 700;
    color: #fff;
    margin-bottom: 1.5em;
}

.footer_card_item ul {
    list-style: none;
}

.footer_card_item a {
    text-decoration: none;
    color: #ffffff;
    font-size: 0.7em;
    line-height: 28px;
}

.footer_card_item a:hover {
    color: #3cc3b5;
    background: #fff;
    transition: .3s linear;
}

.footer_basement {
    height: 46px;
    background-color: #2da89b;
}


/* Гамбургер меню */

.visuallyHidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.hamburger {
    margin: 0 auto;
    margin-top: 30px;
    width: 30px;
    height: 30px;
    position: relative;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: #3cc4b7;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

.checkbox2:checked+label>.hamburger2>.bar1 {
    transform: translateX(40px);
    background-color: transparent;
}

.checkbox2:checked+label>.hamburger2>.bar2 {
    transform: rotate(45deg);
}

.checkbox2:checked+label>.hamburger2>.bar3 {
    transform: rotate(-45deg);
}

.checkbox2:checked+label>.hamburger2>.bar4 {
    transform: translateX(-40px);
    background-color: transparent;
}

.hamburger {
    display: none;
}


/* ------------------------------ */

@media screen and (max-width:1180px) {
    .nav__top-menu a {
        font-size: 0.8em;
    }
    .nav__logo a {
        font-size: 3em;
    }
    .nav__cart a {
        font-size: 0.7em;
    }
    .nav__cart__img {
        height: 37px;
    }
    .banner_card_photo_info {
        flex-basis: 55%;
        /* width: 300px; */
    }
    .banner_card_photo_info h1 {
        font-size: 1.5em;
        margin-bottom: 0.9em;
    }
    .banner_card_photo_info p {
        font-size: 1.2em;
    }
}

@media screen and (max-width:768px) {
    .hamburger {
        display: block;
    }
    .nav__top-menu {
        flex-direction: column;
        height: 100px;
        overflow: visible;
        position: absolute;
        right: 15%;
    }
    .nav__top-menu {
        display: none;
    }
    .nav__top-menu a {
        font-size: 0.9em;
    }
    .banner_card_photo_info h1 {
        font-size: 1.2em;
        margin-bottom: 0.9em;
    }
    .banner_card_photo_info p {
        font-size: 1em;
    }
    .banner_card_photo_info button {
        width: 133px;
        height: 30px;
        font-size: 1em;
    }
    .photo_1,
    .photo_2,
    .photo_3 {
        height: 90px;
        background-size: contain;
    }
    .categories_card_text {
        font-size: 0.7em;
    }
    .signature {
        font-size: 1.1em;
    }
    .product_card_item {
        width: 200px;
        height: 200px;
    }
    .footer_card_item h3 {
        font-size: .9em;
    }
    .footer_card_item a {
        font-size: .7em;
    }
}

@media screen and (max-width:680px) {
    .nav__logo a {
        font-size: 2.5em;
    }
    .nav__cart {
        justify-self: flex-start;
    }
    .nav__cart a {
        font-size: 0.6em;
    }
    .nav__cart__img {
        height: 30px;
        margin-right: 0;
        background-size: contain;
    }
    .nav__search {
        height: 23px;
        background-size: 15px;
    }
    .banner__card {
        flex-direction: column;
        align-items: center;
    }
    .banner__card__photo {
        display: none;
    }
    .banner_card_photo_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.7em;
    }
    .footer_card_item h3 {
        font-size: .8em;
    }
    .footer_card_item a {
        font-size: .6em;
    }
    .signature {
        font-size: 1em;
    }
    .product_cards {
        justify-content: center;
    }
    .product_card_item {
        width: 60%;
        /* height: 260px; */
    }
    .product_card_item:not(:last-child) {
        margin-bottom: 47px;
    }
}