.main {
    display: flex;
    justify-content: space-between;
    margin: 1% 10%;
    min-height: 1000px;
    border: 1px solid black;
}

.navbar {
    width: 30%;
    padding: 3%;
    background: #17a2b8;
}

.content {
    border: 1px solid red;
    width: 65%;
}