.header {
    height: 49px;
}

.header .header_logo {
    height: 49px;
    background: url(https://www.mepc.ru/images/thumbnails/images/stories/pony_express_logo-162x49.jpg) center right no-repeat;
}