* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
}

#wrapper {
    display: flex;
    justify-content: center;
    margin: 100px;
    padding: 50px;
    background-color: #808080;
}

#wrapperIn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

textarea {
    margin-bottom: 30px;
    width: 100%;
    font-size: 1.3em;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

#wrapperButton {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.lineButton {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 2px;
}

button {
    border-radius: 10px;
    margin: 2px;
    font-size: 1.1em;
    font-weight: bold;
    flex-grow: 1;
    outline: none;
    /* border-color: aqua; */
    /* border: 1px dashed aqua; */
}

.middle {
    flex-basis: 70px;
}

.most-middle {
    flex-basis: 100px;
}

.spaceButton {
    flex-grow: 10;
}